.main-div {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
}

.container {
    position: relative;
    top: 10%;
    left: 3%;
    align-items: center;
}

.left-col {
    color: #565656;
    text-align: right;
    font-size: 30px;
}

.dropdown-item {
    font-size: 30px;
}