.pagewrapper {
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.doublecolumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.button-grid-2 {

    position: relative;
    top: 100px;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10%;
    }
    
.field-grid-4 {

position: relative;
top: 100px;
width: 100%;
height: 10%;
display: grid;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto;
gap: 1%;


}
    
.grid-columns {
    position: relative;
    top: 50px;
    left: 400px;
    width: 10%;
    height: 2%;
    display: grid;
    grid-template-columns: 230px 220px;
    grid-template-rows: 45px 45px 45px;
    gap: 30px;

}
    


